# Node modules
node_modules/

# Build outputs
dist/
build/

# Angular cache
.angular/

# Python venv
backend/venv/

# macOS files
.DS_Store

# VSCode settings
.vscode/
# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local
